[submodule "submodules/manifest-ledger"]
	path = submodules/manifest-ledger
	url = https://github.com/fmorency/manifest-ledger.git
	branch = billing-v2
[submodule "submodules/fred"]
	path = submodules/fred
	url = git@github.com:manifest-network/fred.git
	branch = main
